@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inknut+Antiqua:wght@800;900&family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://i.imgur.com/feguoMi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron {
    box-shadow: none;
    background-color: transparent;
    margin: 0;
}

#logo {
    height: 200px;
    width: 200px;
}

.display-1 {
    font-size: 8rem;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    color: whitesmoke;
}

.container-fluid {
    height: 100vh;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

#btn {
    padding: 10px 40px;
    border-radius: 2em;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: white;
    color: black;
}

#intro {
    top: 50%;
    left: 50%;
    margin-top: 100px;
}