{% extends 'base.html' %} {% load static %} {% block col-1 %}
<div class="col">
    <div id="intro">
        <div class="d-flex justify-content-center text-white">
            <div class="w-50">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quia temporibus dolores tenetur quisquam nostrum, dolorum animi aspernatur dolore dignissimos, illum officiis sit nulla, beatae quo voluptates praesentium earum atque!</p>
            </div>
        </div>
        <div class="text-center mt-50">
            <a href="" type="button" class="btn z-depth-1-half" id="btn">Try!</a>
        </div>
    </div>
</div>
{% endblock %}